
/*
  * Archive layout
  * 
  * Styles for posts list
*/

.post-lists {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.post-item {
	padding-bottom: 1.625rem;
}

.post-item-date {
	color: #9a9a9a;
	display: block;
	margin: -.5rem 0 0 0;
}
