<!--<div id="footerwrap">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-10">-->
                <!--<h2>About</h2>-->
                <!--<div class="hline-w"></div>-->
                <!--<p>{{ site.about }}</p>-->
            <!--</div>-->
            <!--<div class="col-lg-2">-->
                <!--<h2>Social Links</h2>-->
                <!--<div class="hline-w"></div>-->
                <!--<p>-->
                    <!--{% for network in site.social %}-->
                        <!--<a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>-->
                    <!--{% endfor %}-->
                <!--</p>-->
            <!--</div>-->

        <!--</div><! &#45;&#45;/row &ndash;&gt;-->
    <!--</div><! &#45;&#45;/container &ndash;&gt;-->
<!--</div><! &#45;&#45;/footerwrap &ndash;&gt;-->
