<div>

    <div class="navigation">
        <div class="section previous" ng-if="previous"><a href="#/blog/{{previous.dl}}">
            <i class="fa fa-chevron-left"></i> {{previous.description}}</a></div>
        <div class="section next" ng-if="next"><a href="#/blog/{{next.dl}}">
            {{next.description}} <i class="fa fa-chevron-right"></i></a></div>
        <div class="clear"></div>
    </div>


    <div class="article">
        <h1>{{current.heading}}</h1>
        <span ng-include="current.url" onload="loaded()"></span>
    </div>

    <div class="navigation">
        <div class="section previous" ng-if="previous"><a href="#/blog/{{previous.dl}}">
            <i class="fa fa-chevron-left"></i> {{previous.description}}</a></div>
        <div class="section next" ng-if="next"><a href="#/blog/{{next.dl}}">
            {{next.description}} <i class="fa fa-chevron-right"></i></a></div>
        <div class="clear"></div>
    </div>


</div>
