---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}">
              <h3 class="ctitle">
                {{ page.title }}
              </h3>
              <div class="pull-right">
                <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
                    class="share"
                    rel="nofollow" target="_blank" title="Share on Twitter">
                     <i class="fa fa-twitter"></i>
                  </a>

                  <a  href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
                      class="share"
                      rel="nofollow" target="_blank" title="Share on Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>

                  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                      class="share" rel="nofollow" target="_blank" title="Share on Google+">
                    <i class="fa fa-google-plus"></i>
                  </a>

              </div>
            </a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}.</csmall></p>

            {{ content }}

            <div class="spacing"></div>

            <div id="disqus_thread"></div>

            <script>
                /**
                 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */

                 var disqus_config = function () {
                 //this.page.url = "{{page.url}}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                 };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//myrighttocode.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
